.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 75px 0;
  background: #073042;
}

@media screen and (max-width: 768px) {
  .promo {
    flex-direction: column;
    padding-top: 140px 0 76px 0;
    align-items: center;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 520px) {
  .promo {
    padding: 70px 0 30px 0;
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 70px;
  padding: 0;
  align-items: flex-start;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .promo__container {
    max-width: calc(100% - 88px);
  }
}

@media screen and (max-width: 768px) {
  .promo__container {
    max-width: calc(100% - 20px);
    order: 2;
    align-items: center;
    margin-left: 0;
  }
}

.promo__title {
  max-width: 640px;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px; /* 116% */
  margin: 0 0 36px 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .promo__title {
    margin: 0 0 22px 0;
    font-size: 40px;
    line-height: 50px; /* 125% */
    max-width: 680;
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .promo__title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px; /* 126.667% */
    letter-spacing: -1.2px;
    margin: 0 0 24px 0;
  }
}

.promo__subtitle {
  max-width: 310px;
  margin: 0 0 146px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.5);
  max-width: 310px;
}

@media screen and (max-width: 768px) {
  .promo__subtitle {
    margin: 0 0 92px 0;
    width: 260px;
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .promo__subtitle {
    margin: 0 0 80px 0;
    
    /* max-width: calc(100% - 60px); */
  }
}

.promo__link {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  display: block;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 10px;
  transition: opacity 0.3s linear;
  text-decoration: none;
  width: 129px;
  min-height: 36px;
  text-align: center;
}

.promo__web-icon {
  background-image: url(../../images/web_icon.svg);
  background-size: cover;
  width: 310px;
  height: 304px;
  flex-shrink: 0;
  margin-right: 70px;
}

@media screen and (max-width: 768px) {
  .promo__web-icon {
    margin-bottom: 48px;
    width: calc(100%-458px);
    margin-right: 0;
    margin-top: 70px;
  }
}

@media screen and (max-width: 520px) {
  .promo__web-icon {
    margin-bottom: 44px;
    width: calc(100%-110px);
    margin-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .promo__web-icon {
    margin-bottom: 44px;
    width: 210px;
    height: 204px;
    width: calc(100%- 40px);
  }
}
