
.header__page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 18px 67px;
  border: red 1px solid;
}

@media screen and (max-width:1023px) {
  .header__page {
    padding: 18px 30px;
  }
}

@media screen and (max-width:767px) {
  .header__page {
    padding: 18px 14px;

  }
}
